<%= render 'posts/modal' %>

<div class="container">
    <%= render 'pages/index/side_menu' %>
    <%= render 'pages/index/main_content' %>
  <div class="row">
  </div><!-- row -->
</div><!-- container -->
